# Compiled output
/dist
/out-tsc

# Dependency directories
/node_modules

# Angular specific
.angular
.angular/cache

# IDEs and editors
/.idea
/.vscode
*.sublime-workspace

# Logs and databases
*.log
*.csv
*.dat
*.out
*.tsbuildinfo

# Temp files
/tmp
*.tmp

# Compiled TypeScript
*.js
*.js.map

# System files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*.local

# Test coverage reports
/coverage

# Misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
