<main class="home-content">
  <section class="hero">
    <div class="hero-container">
      <div class="hero-image">
        <img src="assets/Equipo.png" alt="Soccer Player" />
      </div>
      <div class="hero-text">
        <h1 class="hero-title">León de Judá          
          <a href="https://www.facebook.com/profile.php?id=61571182873626" target="_blank" class="facebook-icon" aria-label="Facebook">
            <i class="fab fa-facebook"></i>
          </a>
        </h1>
        <h2 class="hero-subtitle">
          RÍOS DE AGUA VIVA
          <a href="https://www.facebook.com/profile.php?id=100064420432735" target="_blank" class="facebook-icon" aria-label="Facebook">
            <i class="fab fa-facebook"></i>
          </a>
        </h2>
        <p class="hero-subtitle">
          No somos un equipo de futbol, somos hermanos en Cristo jugando al fútbol.
        </p>
        <a routerLink="/plantel" class="btn-learn-more">Integrantes</a>
        <a href="https://copafacil.com/-d9wq" target="_blank" class="btn-app">App Torneo</a>

        
      </div>
    </div>
  </section>

  <section>
    <h2 class="section-title">Páginas de Facebook</h2>
      <!-- Página de Facebook -->
      <div class="facebook-page">
        <div class="fb-page"
          data-href="https://www.facebook.com/profile.php?id=61571182873626"
          data-tabs="timeline"
          data-width="500"
          data-height="600"
          data-small-header="false"
          data-adapt-container-width="true"
          data-hide-cover="false"
          data-show-facepile="true">
        </div>

        <div class="fb-page"
          data-href="https://www.facebook.com/profile.php?id=100064420432735"
          data-tabs="timeline"
          data-width="500"
          data-height="600"
          data-small-header="false"
          data-adapt-container-width="true"
          data-hide-cover="false"
          data-show-facepile="true">
        </div>

      </div>
      
  </section>

  <!-- Nueva sección de videos -->
  <section class="videos-section">
    <h2 class="section-title">Videos Destacados</h2>
    <div class="videos-container">
      <div class="video-card">
        <iframe
          src="https://www.youtube.com/embed/k1oa9ymtdBA"
          title="Video de ejemplo"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      
      <!-- Agrega otro video card-->    

       <!-- Video de Facebook -->
      <div class="video-card">
        <iframe
          src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2F100092623458287%2Fvideos%2F965704305379589&show_text=false"
          title="Video de Facebook"
          frameborder="0"
          allowfullscreen
          allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
        ></iframe>
      </div>

      <!-- Video de Facebook -->
      <!-- Nuevo Video de Facebook 2 -->
      <div class="video-card">
        <iframe
          src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2F100092623458287%2Fvideos%2F809231167946695&show_text=false"
          title="Video de Facebook 2"
          frameborder="0"
          allowfullscreen
          allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
        ></iframe>
      </div>

      
    </div>
  </section>
  
</main>
