@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-table {
  width: 100%;
  margin-top: 1rem;
}

.mat-mdc-header-cell {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.87);
}

.mat-mdc-cell, .mat-mdc-header-cell {
  padding: 8px 16px;
}
